@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root{     
        --nav_h: 64px;
    }

    body{
        -webkit-user-select: none;
        -moz-user-select: none;
    }
}